In [445]:
import numpy as np
import pandas as pd
import os
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer

In [446]:
# Setup
data_root_path = "data"
impute, all_classes, primary_year = False, False, False

np.random.seed(5)

In [447]:
imputed = "imputed" if impute else ""
classes = "all" if all_classes else "single"
year = "2017" if primary_year else "2016"

outfile = os.path.join(data_root_path, f"proc_data_{imputed}_{classes}_{year}.csv")
year_files = ["MERGED2016_17_PP.csv", "MERGED2017_18_PP.csv", "MERGED2018_19_PP.csv"] if primary_year else\
                ["MERGED2015_16_PP.csv", "MERGED2016_17_PP.csv", "MERGED2017_18_PP.csv"]

In [448]:
df = pd.read_csv(os.path.join(data_root_path, year_files[0]))
names = [
    "UNITID",
    "INSTNM",
    "ADMCON7",
    "LOCALE",
    "RELAFFIL",
    "UGDS_WHITE",
    "CONTROL",
    "MAIN",
    "PREDDEG",
    "CCBASIC",
    "REGION",
    "HBCU",
    "ADM_RATE",
    "SATVRMID",
    "SATWRMID",
    "ACTCMMID",
    "SAT_AVG",
    "DISTANCEONLY",
    "UGDS",
    "NPT4_PUB",
    "NPT4_PRIV",
    "NUM4_PUB",
    "NUM4_PRIV",
    "COSTT4_A",
    "TUITIONFEE_IN",
    "TUITIONFEE_OUT",
    "C150_4",
    "C150_L4",
    "PCTFLOAN",
    "DEBT_MDN",
    "AGE_ENTRY",
    "FEMALE",
    "MARRIED",
    "DEPENDENT",
    "VETERAN",
    "FIRST_GEN",
    "MD_FAMINC",
    "FSEND_1",
    "MD_EARN_WNE_P10",
    "ICLEVEL",
    "OPENADMP",
    "GRADS",
    "TRANS_4_POOLED",
    "C100_4_POOLED",
    "C150_4_PELL",
    "SCHTYPE",
    "PRGMOFR",
    "CIPCODE1",
    "CIPTFBSANNUAL1",
    "MTHCMP1",
    "FTFTPCTPELL",
    "FTFTPCTFLOAN",
    "DBRR4_FED_UG_RT",
    "ROOMBOARD_ON",
    "ENDOWBEGIN",
    "MDEARN_PD",
    "COUNT_WNE_1YR",
    "CNTOVER150_1YR",
    "GT_THRESHOLD_P6",
    "MD_EARN_WNE_MALE0_P6",
    "STUFACR",
    "IRPS_WHITE",
    "IRPS_WOMEN",
    "BBRR4_FED_UG_NOPROG",
    "BBRR4_FED_UG_DISCHARGE",
    "ADM_RATE_SUPP",
    "RET_FT4"
]
features = df.loc[:, names].set_index("UNITID", drop=True)

C:\Users\athie\AppData\Local\Temp\ipykernel_23172\2103400538.py:1: DtypeWarning: Columns (1537,1540,1542,1561,1589,1590,1591,1601,1602,1606,1614,1615,1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(os.path.join(data_root_path, year_files[0]))

In [449]:
df2 = pd.read_csv(os.path.join(data_root_path, year_files[1]))
t_df = df2.loc[:, ["UNITID", "ADMCON7"]].set_index("UNITID", drop=True)

C:\Users\athie\AppData\Local\Temp\ipykernel_23172\4015863543.py:1: DtypeWarning: Columns (1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv(os.path.join(data_root_path, year_files[1]))

In [450]:
df3 = pd.read_csv(os.path.join(data_root_path, year_files[2]))
o_df = df3.loc[:, ["UNITID", "RET_FT4"]].set_index("UNITID", drop=True)

C:\Users\athie\AppData\Local\Temp\ipykernel_23172\615424321.py:1: DtypeWarning: Columns (1729,1909,1910,1911,1912,1913) have mixed types. Specify dtype option on import or set low_memory=False.
  df3 = pd.read_csv(os.path.join(data_root_path, year_files[2]))

In [451]:
data = features.join(t_df, how="inner", rsuffix="_2").join(o_df, how="inner", rsuffix="_2")
print(data.shape)
data.head()

(6799, 68)

,INSTNM,ADMCON7,LOCALE,RELAFFIL,UGDS_WHITE,CONTROL,MAIN,PREDDEG,CCBASIC,REGION,...,MD_EARN_WNE_MALE0_P6,STUFACR,IRPS_WHITE,IRPS_WOMEN,BBRR4_FED_UG_NOPROG,BBRR4_FED_UG_DISCHARGE,ADM_RATE_SUPP,RET_FT4,ADMCON7_2,RET_FT4_2
UNITID,,,,,,,,,,,,,,,,,,,,,
100654,Alabama A & M University,1.0,NaN,NaN,0.0336,1,1,3,NaN,5,...,NaN,19.0,0.1220,0.4350,NaN,NaN,NaN,0.5779,1.0,0.5879
100663,University of Alabama at Birmingham,1.0,NaN,NaN,0.5863,1,1,3,NaN,5,...,NaN,18.0,0.7271,0.3964,NaN,NaN,NaN,0.7864,1.0,0.8436
100690,Amridge University,NaN,NaN,NaN,0.2110,2,1,3,NaN,5,...,NaN,10.0,0.8889,0.2222,NaN,NaN,NaN,0.6667,NaN,NaN
100706,University of Alabama in Huntsville,1.0,NaN,NaN,0.7024,1,1,3,NaN,5,...,NaN,16.0,0.7227,0.4174,NaN,NaN,NaN,0.8025,1.0,0.8248
100724,Alabama State University,1.0,NaN,NaN,0.0165,1,1,3,NaN,5,...,NaN,16.0,0.2154,0.5231,NaN,NaN,NaN,0.6021,1.0,0.5923

In [452]:
# Filter for four-year not-for-profits
select = (data["CONTROL"] < 3) & (data["ICLEVEL"] == 1) & (data["DISTANCEONLY"] == 0)\
    & (data["MAIN"] == 1) & (data["OPENADMP"] == 2) & (data["REGION"] < 9)
df1 = data[select]
df1.shape

(1564, 68)

In [453]:
# Remove schools which did not require testing in the baseline year
select = df1["ADMCON7"] == 1
df2 = df1[select]
df2.shape

(1205, 68)

In [454]:
# Remove schools which are missing the outcome variable
select = ~df2["RET_FT4_2"].isna()
df3 = df2[select]
df3.shape

(1196, 68)

In [455]:
# Remove columns which were only used to filter data
used_cols = ["MAIN", "PREDDEG", "ICLEVEL", "OPENADMP", "DISTANCEONLY", "ADMCON7"]
df4 = df3.loc[:, ~df3.columns.isin(used_cols)]

In [456]:
# View missing data rates for each column
pd.set_option('display.max_rows', None)
df4.apply(lambda x: (x.isna() | (x == "PrivacySuppressed")).mean())

INSTNM                    0.000000
LOCALE                    1.000000
RELAFFIL                  1.000000
UGDS_WHITE                0.000000
CONTROL                   0.000000
CCBASIC                   1.000000
REGION                    0.000000
HBCU                      1.000000
ADM_RATE                  0.000836
SATVRMID                  0.064381
SATWRMID                  0.433946
ACTCMMID                  0.025920
SAT_AVG                   0.000000
UGDS                      0.000000
NPT4_PUB                  0.622910
NPT4_PRIV                 0.387960
NUM4_PUB                  0.622910
NUM4_PRIV                 0.387960
COSTT4_A                  0.010033
TUITIONFEE_IN             0.002508
TUITIONFEE_OUT            0.002508
C150_4                    0.005017
C150_L4                   1.000000
PCTFLOAN                  0.005017
DEBT_MDN                  0.011706
AGE_ENTRY                 0.009197
FEMALE                    0.028428
MARRIED                   0.170569
DEPENDENT                 0.051839
VETERAN                   0.693144
FIRST_GEN                 0.038462
MD_FAMINC                 0.009197
FSEND_1                   1.000000
MD_EARN_WNE_P10           1.000000
GRADS                     0.134615
TRANS_4_POOLED            1.000000
C100_4_POOLED             1.000000
C150_4_PELL               1.000000
SCHTYPE                   1.000000
PRGMOFR                   1.000000
CIPCODE1                  1.000000
CIPTFBSANNUAL1            1.000000
MTHCMP1                   1.000000
FTFTPCTPELL               0.004181
FTFTPCTFLOAN              0.004181
DBRR4_FED_UG_RT           1.000000
ROOMBOARD_ON              0.022575
ENDOWBEGIN                0.024247
MDEARN_PD                 1.000000
COUNT_WNE_1YR             1.000000
CNTOVER150_1YR            1.000000
GT_THRESHOLD_P6           1.000000
MD_EARN_WNE_MALE0_P6      1.000000
STUFACR                   0.000000
IRPS_WHITE                0.002508
IRPS_WOMEN                0.002508
BBRR4_FED_UG_NOPROG       1.000000
BBRR4_FED_UG_DISCHARGE    1.000000
ADM_RATE_SUPP             1.000000
RET_FT4                   0.000000
ADMCON7_2                 0.003344
RET_FT4_2                 0.000000
dtype: float64

In [457]:
# Identify columns completely missing data
na_pcts = df4.apply(lambda x: (x.isna() | (x == "PrivacySuppressed")).mean())
nan_cols = na_pcts[na_pcts == 1]
nan_cols

LOCALE                    1.0
RELAFFIL                  1.0
CCBASIC                   1.0
HBCU                      1.0
C150_L4                   1.0
FSEND_1                   1.0
MD_EARN_WNE_P10           1.0
TRANS_4_POOLED            1.0
C100_4_POOLED             1.0
C150_4_PELL               1.0
SCHTYPE                   1.0
PRGMOFR                   1.0
CIPCODE1                  1.0
CIPTFBSANNUAL1            1.0
MTHCMP1                   1.0
DBRR4_FED_UG_RT           1.0
MDEARN_PD                 1.0
COUNT_WNE_1YR             1.0
CNTOVER150_1YR            1.0
GT_THRESHOLD_P6           1.0
MD_EARN_WNE_MALE0_P6      1.0
BBRR4_FED_UG_NOPROG       1.0
BBRR4_FED_UG_DISCHARGE    1.0
ADM_RATE_SUPP             1.0
dtype: float64

In [458]:
# Identify columns missing more than 10% of their data
bad_cols = na_pcts[(na_pcts < 1) & (na_pcts >= 0.1)]
bad_cols

SATWRMID     0.433946
NPT4_PUB     0.622910
NPT4_PRIV    0.387960
NUM4_PUB     0.622910
NUM4_PRIV    0.387960
MARRIED      0.170569
VETERAN      0.693144
GRADS        0.134615
dtype: float64

In [459]:
# Select the columns with less than 10% missing data
nice_cols = na_pcts[na_pcts < 0.1].index.tolist()
nice_cols

['INSTNM',
 'UGDS_WHITE',
 'CONTROL',
 'REGION',
 'ADM_RATE',
 'SATVRMID',
 'ACTCMMID',
 'SAT_AVG',
 'UGDS',
 'COSTT4_A',
 'TUITIONFEE_IN',
 'TUITIONFEE_OUT',
 'C150_4',
 'PCTFLOAN',
 'DEBT_MDN',
 'AGE_ENTRY',
 'FEMALE',
 'DEPENDENT',
 'FIRST_GEN',
 'MD_FAMINC',
 'FTFTPCTPELL',
 'FTFTPCTFLOAN',
 'ROOMBOARD_ON',
 'ENDOWBEGIN',
 'STUFACR',
 'IRPS_WHITE',
 'IRPS_WOMEN',
 'RET_FT4',
 'ADMCON7_2',
 'RET_FT4_2']

In [460]:
### NO IMPUTATION ###
# Remove schools missing data after exluding bad columns
if not impute:
    df4 = df4.loc[:, nice_cols]
    bad_schools = df4.apply(lambda x: (x.isna() | (x == "PrivacySuppressed")).any(), axis=1)
    df5 = df4.loc[~bad_schools, :]
    df5.shape

In [461]:
### IMPUTATION ###
# Impute all remaining data after excluding bad columns
# Do not impute testing policy in treatment year
if impute:
    df4 = df4.loc[~df4["ADMCON7_2"].isna(), nice_cols]
    df4 = df4.replace(to_replace="PrivacySuppressed", value=np.nan)

    imp = IterativeImputer()
    df5 = imp.fit_transform(df4.loc[:, df4.columns != "INSTNM"])
    print(df5.shape)
    print(f"Missing data?: {np.any(np.isnan(df5))}")

    df5 = pd.DataFrame(data=np.concatenate([np.expand_dims(df4["INSTNM"], 1), df5], axis=1),
                    columns=df4.columns,
                    index=df4.index)

In [462]:
### ALL CLASSES ###
# Establish treatment group as those schools which went from "required"
# to any class besides "required"
if all_classes:
    select = df5["ADMCON7_2"] != 1
    switched = df5[select]
    print(switched.shape)
    switched.head()

In [463]:
### SINGLE CLASS ###
# Establish treatment group as schools which switch from "required"
# to "considered but not required". Remove schools from the other
# two classes so they are not counted in the control group
if not all_classes:
    select = df5["ADMCON7_2"] == 5
    switched = df5[select]
    df5 = df5[~((df5["ADMCON7_2"] == 2) | (df5["ADMCON7_2"] == 3))]
    print(switched.shape)
    switched.head()

(35, 30)

In [464]:
# Add treatment variable and remove baseline testing policy
df5["Z"] = np.zeros(df5.shape[0])
df5.loc[df5["INSTNM"].isin(switched["INSTNM"]), "Z"] = 1

In [465]:
# Add percent change from pre to post treatment
df5 = df5[df5["RET_FT4"] != 0]
df5.loc[:, "RET_FT4_PCT_CHANGE"] = ((df5["RET_FT4_2"] - df5["RET_FT4"]) / df5["RET_FT4"]) * 100
df5 = df5.drop(columns=["RET_FT4_2"])
df5.shape

(964, 31)

In [466]:
df5.to_csv(outfile)

In [467]:
df5[df5["Z"] == 1].head()

,INSTNM,UGDS_WHITE,CONTROL,REGION,ADM_RATE,SATVRMID,ACTCMMID,SAT_AVG,UGDS,COSTT4_A,...,FTFTPCTFLOAN,ROOMBOARD_ON,ENDOWBEGIN,STUFACR,IRPS_WHITE,IRPS_WOMEN,RET_FT4,ADMCON7_2,Z,RET_FT4_PCT_CHANGE
UNITID,,,,,,,,,,,,,,,,,,,,,
118888,Mills College at Northeastern University,0.4765,2,8,0.7156,600.0,27.0,1183.0,852.0,58812.0,...,0.7914,13200.0,1.892883e+08,10.0,0.6364,0.7045,0.8187,5.0,1.0,-6.375962
125763,Whittier College,0.3135,2,8,0.6262,522.0,23.0,1057.0,1643.0,52570.0,...,0.6958,12486.0,9.982911e+07,12.0,0.6962,0.5190,0.7990,5.0,1.0,-2.590738
130314,University of Saint Joseph,0.5354,2,1,0.9268,470.0,19.0,932.0,904.0,46109.0,...,0.8054,14850.0,2.560300e+07,11.0,0.7634,0.6947,0.6779,5.0,1.0,13.291046
131159,American University,0.5816,2,2,0.3502,640.0,28.0,1252.0,7300.0,58965.0,...,0.5757,15502.0,5.460000e+08,12.0,0.7675,0.4900,0.8823,5.0,1.0,1.779440
131469,George Washington University,0.5627,2,2,0.4646,640.0,29.0,1294.0,10901.0,63159.0,...,0.4203,12050.0,1.576508e+09,13.0,0.7562,0.4404,0.9390,5.0,1.0,-2.705005